.main h1 {
  text-align: center;
}
.main .image_holder {
  margin: auto;
  text-align: center;
  width: 100%;
}
.image_holder img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main .image_holder {
    width: 70%;
  }
}
